<!DOCTYPE html>
<html>
<body style="background-color:#474241;">

{% extends 'base.html' %} 
{% block title %} {% endblock title %}

{% block body %}
<h1 style="color:white;">About Car's Doctor</h1>
<p  style="color:white;">Approved Garages is a network of independent garages built on trust from the outset. We have carefully selected and vetted each garage to give you, the motorist, confidence when maintaining your vehicle.

The website allows you to find and book your vehicle in for a repair, service or MOT with a trusted garage based in your locality and you can base your decision on customer reviews and cost as well.

Each Approved Garage use genuine car parts of original equipment (O.E.) or matched quality standard, which means your warranty is protected thanks to a useful piece of legislation known as Block Exemption which works in your favour and protects your rights when you use an independent garage.

Approved Garages is a member of the National Conciliation Service (NCS) — the NCS is an Alternative Dispute Resolution (ADR); The ADR can act as the mediation to help consumer and trader come to a mutually acceptable outcome.</p>

<h1 style="color:white;">Major Support</h1>
<p style="color:white;">The Approved Garages Network has been developed by GROUPAUTO a leading part distributor with over 6000 locations worldwide. Approved Garages is also supported by well-respected parts suppliers providing garages with Tier 1 vehicle parts and consumables, ensuring the motorist receives unquestionable quality.

At Approved Garages we use only O.E. or matched quality parts and lubricants when carrying out service or repair work to our customers’ vehicles. Not only will this ensure that we don’t invalidate your vehicle’s warranty, but also that your car is in a safe running condition giving you peace of mind when on the road.

Quality, reliability and safety is at the forefront of our mind and when it comes to providing a quality level of service you can look forward to both, high quality workmanship and excellent customer service.

Managed by a team of knowledgeable expert mechanics, each garage is fully equipped with the latest electronic diagnostic equipment and tools. All work is carried out to vehicle manufacturer approved standards, ensuring that your car will get you to your destination safely.</p>

<h1 style="color:white;">Auto Care Garages</h1>
<p style="color:white;">Within the Approved Garages network we have a premium garage brand called AutoCare which are distinctively branded and are part of the EuroGarage network – look out for the AutoCare logo when booking your vehicle online.</p>
{% endblock body %}
</body>
</html>