{% extends "base.html" %}

{% block content %}
    <main>
        <div class="container">
            {% include 'nav.html' %}

           <table id="example" class="table table-striped table-bordered nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Location</th>
                <th>Address</th>
                <th>contact</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Cantonment</td>
                <td>Dhaka cantonment dhaka 1206</td>
                <td>012345678974</td>
            </tr> <tr>
                <td>Uttara</td>
                <td>Uttara sector 6</td>
                <td>012345678974</td>
            </tr> <tr>
                <td>Mohammadpur</td>
                <td>Mohammadpur bus stand</td>
                <td>012345678974</td>
            </tr> <tr>
                <td>Dhanmondi</td>
                <td>Dhanmondi 27</td>
                <td>012345678974</td>
            </tr> <tr>
                <td>Mirpur</td>
                <td>Mirpur 10</td>
                <td>012345678974</td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
             <th>Location</th>
                <th>Address</th>
                <th>contact</th>
            </tr>
        </tfoot>
    </table>
        </div>
    </main>

{% endblock content %}
