{% extends "base.html" %}
{% load static %}

{% block extra_head %}
{% endblock extra_head %}

{% block content %}


      <main>
        <div class="container wow fadeIn"><h2 class="my-5 h2 text-center">Payment</h2>
            <hr>
            <div class="row">
                <div class="col-md-12 mb-4">
                    <div class="card text-center"><h1>You have selected Cash On Delivery As your Payment method</h1></div>
                    <hr>
                    <br>
                    <hr>
                    {% include "order_snippet.html" %} <br>
                    <div class="text-center">
                        <form action="" method="post"> {% csrf_token %}
                            <button class="btn btn-success btn-md my-0 p" type="submit" value="submit" name="save">Pay
                                Now
                            </button>
                        </form>
                        <br> <br></div>
                </div>
        </div>
    </main>

{% endblock content %}





