<!DOCTYPE html>
<html>
<body style="background-color:#474241;">

{% extends 'base.html' %} 
{% block title %} {% endblock title %}

{% block body %}

<h1 style="color:white">Software Engineer Job Responsibilities:</h1>
<p style="color:white;">
1.Develops information systems by designing, developing, and installing software solutions.
2.Determines operational feasibility by evaluating analysis, problem definition, requirements, solution development, and proposed solutions.
3.Develops software solutions by studying information needs, conferring with users, and studying systems flow, data usage, and work processes.
4.Investigates problem areas.
5.Follows the software development lifecycle.
6.Documents and demonstrates solutions by developing documentation, flowcharts, layouts, diagrams, charts, code comments and clear code.
7.Prepares and installs solutions by determining and designing system specifications, standards, and programming.
8.Improves operations by conducting systems analysis and recommending changes in policies and procedures.
9.Obtains and licenses software by obtaining required information from vendors, recommending purchases, and testing and approving products.
10.Protects operations by keeping information confidential.
11.Provides information by collecting, analyzing, and summarizing development and service issues.
12.Accomplishes engineering and organization mission by completing related results as needed.
</p>

{% endblock body %}
</body>
</html>
